@model EventFunWeb.t一般會員

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>t一般會員</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.f會員帳號)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f會員帳號)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f會員密碼)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f會員密碼)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f會員信箱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f會員信箱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f會員名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f會員名稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f會員性別)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f會員性別)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f出生年月日)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f出生年月日)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f會員簡介)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f會員簡介)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f會員行動電話)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f會員行動電話)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f地址)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f地址)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f會員照片)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f會員照片)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f帳號狀態)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f帳號狀態)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f上次登入時間)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f上次登入時間)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f創建時間)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f創建時間)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t地區.f城市編號)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t地區.f城市編號)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t城市.f城市名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t城市.f城市名稱)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
