@model EventFunWeb.t廣告
@{
    ViewBag.Title = "ADNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{}
<div class="site-blocks-cover inner-page-cover overlay " style="background-image: url(../images/hero_1.jpg); margin-top: 20px;"
     data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">

                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h1 style="margin-top:150px">企業會員首頁</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*畫面*@

<div class="site-section bg-light">
    <div class="container">

        <div class="row">
            @*左側可切換選單*@
            @*class設定active*@
            <div class="col-2">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action" href="~/CompanyMgt/CompanyIndex">企業資訊</a>
                    <a class="list-group-item list-group-item-action active" href="#">廣告管理</a>
                    <a class="list-group-item list-group-item-action" href="放連結">活動管理</a>
                    <a class="list-group-item list-group-item-action" href="放連結">訂單管理</a>
                    <a class="list-group-item list-group-item-action" href="放連結">統計資料</a>

                </div>
            </div>
            @*左側可切換選單*@

            @*右側顯示內容部分*@
            <div class="col-lg-8">
                <div class="tab-content" id="nav-tabContent">
                    @*畫面放在這*@
                    <h2>新增廣告</h2>


                    <form action="~/CompanyMgt/ADNew" enctype="multipart/form-data" method="post">
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>t廣告</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.Label("廣告名稱", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.f廣告名稱, new { htmlAttributes = new { @class = "form-control", @id = "name" } })
                                    @Html.ValidationMessageFor(model => model.f廣告名稱, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("廣告內容", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <textarea name="f廣告內容" style="width:600px;height:300px;" class="form-control" id="content"></textarea>
                                    @*@Html.EditorFor(model => model.f廣告內容, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.f廣告內容, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.f起始日期, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="date" class="form-control" name="f起始日期" />
                                    @*@Html.EditorFor(model => model.f起始日期, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.f起始日期, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.f結束日期, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="date" class="form-control" name="f結束日期" />
                                    @*@Html.EditorFor(model => model.f結束日期, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.f結束日期, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.f廣告網址, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="url" class="form-control" name="f廣告網址" id="http" />
                                    @*@Html.EditorFor(model => model.f廣告網址, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.f廣告網址, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("上傳照片", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="file" class="form-control" name="photo" id="imgIpt" />
                                </div>
                            </div>
                            <img src="" style="height:500px;width:auto" id="img" />

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <button id="demo">Demo</button>
                    <div>
                        @Html.ActionLink("返回廣告列表", "ADList")
                    </div>
                    <dl class="dl-horizontal"></dl>
                    @*畫面放在這*@
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script>
        $('#demo').click(function () {
            $('#name').val('凱達格蘭大道夜市PARTY')
            $('#content').val('韓國瑜誠摯邀請您，闔家大小一起來總統府前吃吃喝喝，享受選完的日子')
            $('#http').val('https://www.大家都愛含蔥雞.com.tw')
        })
        $("#imgIpt").change(function () {
            // 上傳檔案的按鈕ID
            readURL(this);   //
        });
        function readURL(input) {//這邊就做預覽圖片

            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {

                    $("#img").attr('src', e.target.result);
                    //需要一個img來放圖片
                }

                reader.readAsDataURL(input.files[0]);

            }

        }

    </script>

}
