
<!DOCTYPE html>
<html>
<head>
    <title>EventFun</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
    <link rel="shortcut icon" href="ftco-32x32.png">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">

    <!-- EF CSS -->

    <link rel="stylesheet" href="~/css/EF/EFindex.css">
    <!-- ... -->
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    @*<link rel="stylesheet" href="~/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/css/bootstrap4.min.css">
    @*<link rel="stylesheet" href="~/css/bootstrap3.min.css">*@
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/rangeslider.css">
    <link rel="stylesheet" href="~/css/style.css">

    <link href='~/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='~/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    <link href='~/fullcalendar/packages/timegrid/main.css' rel='stylesheet' />
    <link href='~/fullcalendar/packages/list/main.css' rel='stylesheet' />
    @*<link href='~/fullcalendar/packages/bootstrap/main.css' rel='stylesheet' />
    <link href='~/fullcalendar/packages/google-calendar/main.css' rel='stylesheet' />
    <link href='~/fullcalendar/packages/interaction/main.css' rel='stylesheet' />
    <link href='~/fullcalendar/packages/luxon/main.css' rel='stylesheet' />
    <link href='~/fullcalendar/packages/moment/main.css' rel='stylesheet' />
    <link href='~/fullcalendar/packages/moment-timezone/main.css' rel='stylesheet' />
    <link href='~/fullcalendar/packages/rrule/main.css' rel='stylesheet' />*@
    <script src='~/fullcalendar/packages/core/main.js'></script>
    <script src='~/fullcalendar/packages/interaction/main.js'></script>
    <script src='~/fullcalendar/packages/daygrid/main.js'></script>
    <script src='~/fullcalendar/packages/timegrid/main.js'></script>
    <script src='~/fullcalendar/packages/list/main.js'></script>
    @*<script src='~/fullcalendar/packages/bootstrap/main.js'></script>
    <script src='~/fullcalendar/packages/google-calendar/main.js'></script>
    <script src='~/fullcalendar/packages/iuxon/main.js'></script>
    <script src='~/fullcalendar/packages/moment/main.js'></script>
    <script src='~/fullcalendar/packages/moment-timezone/main.js'></script>
    <script src='~/fullcalendar/packages/rrule/main.js'></script>*@

    @*行事曆

         jQuery v1.9.1
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
         Moment.js v2.20.0
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.0/moment.min.js"></script>
         FullCalendar v3.8.1
        <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.print.css" rel="stylesheet" media="print">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.js"></script>*@

    @RenderSection("Style", false)
</head>
<body>

    <!-- 標題 -->
    <header class="site-navbar" role="banner">
        <div>
            <ul style="list-style:none; float:right; display:inline-flex; padding:28px 30px; margin:0px 10px; font-size: 30px;  position:fixed; right:0px">
                <li style="margin:0px 10px;">

                    <div class="btn-group">

                        <a href="cart.html" class="site-cart" data-toggle="dropdown">
                            <span class="icon icon-shopping_cart site-top-icons"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <form class="px-4 py-3">
                                <div class="form-group">
                                    <label for="exampleDropdownFormEmail1">購物車的東東</label>
                                    <p style="font-size:small">*1   $350</p>
                                    <hr>
                                </div>
                                <div class="form-group">
                                    <label for="exampleDropdownFormPassword1">購物車的東東</label>
                                    <p style="font-size:small">*2   $400</p>
                                    <hr>
                                    <p style="color:red"> Total: $1150</p>
                                </div>
                            </form>
                            <div class="dropdown-divider"></div>
                            <button type="submit" class="btn btn-primary" style="width:101%">結帳</button>
                        </div>

                    </div>

                </li>
                <li class="d-inline-block d-md-none ml-md-0">
                    <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a>
                </li>
            </ul>
        </div>

        <div class="container">
            <div class="row align-items-center">

                <div class="col-11 col-xl-2">

                    <h1 class="mb-0 site-logo">
                        <a href="~/Home/HomeIndex" class="text-white h2 mb-0">
                            <img style="width: 160px;" src="~/images/LOGO2.png" />
                        </a>
                    </h1>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block ">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block ">

                            <li>
                                <a href="~/Home/HomeIndex"><span>首頁</span></a>
                            </li>
                            <li>
                                <a href="~/Event/EventList"><span>活動</span></a>
                            </li>
                            <li>
                                <a href="~/Forum/ForumArticleList"><span>論壇</span></a>
                            </li>


                            @if (Session["Company"] != null)
                            {
                                string cid = null;
                                if ((Session["Company"] as t企業會員).f企業編號 == null)
                                {
                                    cid = "../Content/images/company/xx.png";
                                }
                                else
                                {
                                    cid = "../Content/images/company/" + (Session["Company"] as t企業會員).f企業編號 + ".jpg";
                                }

                                <li class="has-children">
                                    <a href="#"><span><img src="@cid" style="width:50px ;height:50px;border-radius:999em;" id="img"></span></a>
                                    <ul class="dropdown arrow-top">
                                        <li>
                                            <a href="/CompanyMgt/CompanyIndex">個人資訊</a>
                                        </li>
                                        <li>
                                            <a href="/CompanyMgt/CompanyIndex">喜愛活動</a>
                                        </li>
                                        <li>
                                            <a href="/CompanyMgt/CompanyIndex">行事曆</a>
                                        </li>
                                        <li>
                                            <a href="/CompanyMgt/CompanyIndex">購物車  </a>
                                        </li>
                                        <li>
                                            <a href="/AddEvent/CompanyEventList">新增活動</a>
                                        </li>
                                        <li>
                                            <a href="~/Login/Login"><span>登出</span></a>
                                        </li>
                                    </ul>
                                </li>

                            }
                            else if (Session["Member"] != null)
                            {
                                string mid = null;
                                if ((Session["Member"] as t一般會員).f會員編號 == null)
                                {
                                    mid = "../Content/images/member/xx.png";
                                }
                                else
                                {
                                    mid = "../Content/images/member/" + (Session["Member"] as t一般會員).f會員編號 + ".jpg";
                                }
                                <li class="has-children">
                                    <a href="#"><span><img src="@mid" style="width:50px ;height:50px;border-radius:999em;" id="img"></span></a>
                                    <ul class="dropdown arrow-top">
                                        <li>
                                            <a href="/MemberMgt/MemberIndex">個人資訊</a>
                                        </li>
                                        <li>
                                            <a href="/MemberMgt/CompanyIndex">喜愛活動</a>
                                        </li>
                                        <li>
                                            <a href="/MemberMgt/MemberCalendar">行事曆</a>
                                        </li>
                                        <li>
                                            <a href="/MemberMgt/CompanyIndex">購物車  </a>
                                        </li>
                                        <li>
                                            <a href="/MemberMgt/CompanyIndex">訂單管理</a>
                                        </li>
                                        <li>
                                            <a href="/MemberMgt/CompanyIndex">文章管理</a>
                                        </li>
                                        <li>
                                            <a href="~/Login/Login"><span>登出</span></a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else if ((Session[EventFunSystem.Models.CDictionary.Manager] as t管理者資料表) != null)
                            {
                                string cid = null;
                                var adminid = (Session[EventFunSystem.Models.CDictionary.Manager] as t管理者資料表).f管理者編號;
                                if (adminid.ToString() != null)
                                {
                                    cid = "../Content/images/admin/img.png";
                                }
                                else
                                {
                                    cid = "../Content/images/admin/" + adminid.ToString() + ".jpg";
                                }

                                <li class="has-children">
                                    <a href="#"><span><img src="@cid" style="width:50px ;height:50px;border-radius:999em;" id="img"></span></a>
                                    <ul class="dropdown arrow-top">
                                        <li>
                                            <a href="/Admin/AdminIndex">個人資訊</a>
                                        </li>
                                        <li>
                                            <a href="#">管理員資訊</a>
                                        </li>
                                        <li>
                                            <a href="#">會員管理</a>
                                        </li>
                                        <li>
                                            <a href="#">企業管理</a>
                                        </li>
                                        <li>
                                            <a href="#">廣告審核</a>
                                        </li>
                                        <li>
                                            <a href="#">訂單管理</a>
                                        </li>
                                        <li>
                                            <a href="#">主題管理</a>
                                        </li>
                                        <li>
                                            <a href="#">活動管理</a>
                                        </li>
                                        <li>
                                            <a href="#">論壇管理</a>
                                        </li>
                                        <li>
                                            <a href="#">統計資料</a>
                                        </li>
                                        <li>
                                            <a href="~/Login/Login"><span>登出</span></a>
                                        </li>
                                    </ul>
                                </li>

                            }
                            else
                            {
                                <li>
                                    <a href="~/Forum/ForumArticleList">
                                        @if (Session["Company"] != null || Session["Member"] != null)
                                        {
                                            <span>登出</span> }
                                        else
                                        {
                                            <span>登入</span>
                                        }


                                    </a>
                                </li>
                            }
                            @*===============================*@


                        </ul>

                    </nav>

                </div>

                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;">
                    <a href="#" class="site-menu-toggle js-menu-toggle text-white">
                        <span class="icon-menu h3"></span>
                    </a>
                </div>
            </div>
        </div>
        <!--</div>-->

    </header>

    @RenderBody()
    <!-- 會員註冊 -->
    <footer class="site-footer">

        <div class="py-5 bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mr-auto mb-4 mb-lg-0">
                        <h2 class="mb-3 mt-0 text-white">加入我們來快速地尋找活動</h2>
                        <p class="mb-0 text-white">.......................</p>
                    </div>
                    <div class="col-lg-4">
                        <p class="mb-0">
                            <a href="~/Login/Login"
                               class="btn btn-outline-white text-white btn-md px-5 font-weight-bold btn-md-block">註冊</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*^^^^會影響fullcalendar*@

    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    @*<script src="~/js/jquery-3.3.1.min.js"></script>*@
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap4.min.js"></script>
    @*<script src="~/js/bootstrap3.min.js"></script>*@
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/rangeslider.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/typed.js"></script>
    <script src="~/fontawesome/js/all.js"></script> <!--導入ICON-->
    <!--https://fontawesome.com/icons?d=gallery&m=free 可查詢使用ICON-->
     <script type="text/javascript" language="javascript"> //綁城市地區的方法
          $(document).ready(function () {
        $('#City').change(function () { ChangeCity(); });
    });

        function ChangeCity() {
           
            var selectedValue = $('#City option:selected').val();
            if (selectedValue.length > 0) {
            District(selectedValue);
        }
    }

        function District(CityID) {
            
        $.ajax({
            url: '@Url.Action("CityChange", "Home")',
            data: { CityID: CityID },
            type: 'post',
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                if (data.length > 0) {
                    $('#District').empty();
                    //$('#District').append($('<option></option>').val('').text('請先選擇城市'));
                    $.each(data, function (i, item) {
                        $('#District').append($('<option></option>').val(item.Key).text(item.Value));
                    });
                }
            }
        });
    }
    </script>
    @RenderSection("Scripts", false)
</body>
</html>


